.App {
  text-align: center;
  margin-top: 20vh;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select {
  padding: 10px;
  margin-top: 10px;
}

.candidate-item {
  margin-bottom: 5px;
}

p {
  margin-top: 10px;
}

